*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.picture-background{
    background-color: gray;
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: block;
    background-color: black;
    padding-top: 10px;
}

.desc{
    display: flex;
    background-color: black;
    padding-bottom: 10px;
    padding-right: 10px;
}

p, ul{
    width: auto;
    color: white;
    background-color: grey;
    margin: 10px;
    margin-left: 0;
    padding: 10px;
    font-size: 15px;
}

.stooges{
    width: auto;
    height: 400px;
    padding-bottom: 10px;
    padding-left: 10px;
}

li{
    padding: 5px;
    color: white;
    background-color: gray;
    display: block;
}

ul{
   padding: 200px;
}

h1{
    background-color: black;
    text-align: center;
    color: white;
    margin: 0px;
    padding-top: 10px;
}

.grid{
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 1px solid black;
}